body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column; /* added so flex-grow will work on main */
  background-color: rgb(237, 237, 237);
}

/* make all images take full height of parent div */
img {
  height: 100%;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 35vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.back-arrow-container-nav,
.dots-container-nav {
  height: 20px;
}

.dots-container-book {
  height: 15px;
}

.justine-marshall-image-container {
  height: 100px;
}

.justine-marshall-image {
  border-radius: 50%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  color: #333;
}

.email-link {
  font-size: 16px;
  color: #888;
  text-decoration: none;
}

.socials-icon-container {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 10px;
}

.instagram-icon-container,
.basketball-icon-container {
  width: 15px;
  height: 15px;
}

/* END OF HEADER */

/* MAIN */

main {
  background-color: rgb(285, 81, 81);
  border-radius: 40px 40px 0 0;
  height: 100%;
  flex-grow: 1; /* make div fill to bottom of 100% height body */
}

h2,
h3 {
  font-size: 16px;
  color: #fff;
}

h2 {
  font-weight: bold;
  padding: 45px 0 20px 15px;
}

h3 {
  font-weight: 300;
}

.all-book-sections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each-book-section {
  border-bottom: 1px solid #fa7c7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100vw;
  position: relative;
}

.book-image-title-container {
  display: flex;
  align-items: center;
}

.book-image-container {
  height: 70px;
  width: 45px;
  margin-right: 10px;
}

.author {
  font-size: 14px;
  color: #ffafaf;
}

/* change dots svg to white */
.dots-book {
  filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(60deg)
    brightness(96%) contrast(102%);
}

/* END OF MAIN */
